<footer>
  <nav class='round'>
   <ul>
     <li><%= link_to "Contacts", contact_path, :title => "Contact information" %></li>
     <li><%= link_to "About", about_path, :title => "About us" %></li>
     <li><%= link_to "Some Page", '#', :title => "Link is't work" %></li>
   </ul>
  </nav> 
</footer>
